/**
9900: DIALOG
9800: SIDEBAR
9500: NAVBAR
**/


/*** GLOBAL ***/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.content-block {
    background-color: #ffffff;
    margin-top: 15px;
    padding: 15px;
}
.content-block.no-padding { padding: 0; }
.cursor { cursor: pointer; }
.fill-parent {
    height: 100%;
    position: absolute;
    width: 100%;
}
.no-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*** GELATO DIALOG ***/
.gelato-dialog .modal { z-index: 9900; }
.gelato-dialog .modal.transparent .modal-content {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    box-shadow: none;
    background: transparent;
}

/*** GELATO NAVBAR ***/
.gelato-navbar .navbar {
    height: 50px;
    overflow: hidden;
    z-index: 9500;
}
.gelato-navbar .navbar-btn {
    margin-bottom: 0;
    margin-top: 3px;
}
.gelato-navbar .navbar-header {
    margin: 0;
    width: 100%;
}
.gelato-navbar .navbar-toggle {
    background-color: transparent;
    float: left;
    margin-left: 15px;
    margin-right: 0;
}
.gelato-navbar .navbar-nav { margin: 5px 0 0 0; }
.gelato-navbar .navbar-nav li { float: left; }
.gelato-navbar .navbar-nav.navbar-left { float: left; }
.gelato-navbar .navbar-nav.navbar-right { float: right; }
.gelato-navbar .navbar-toggle:hover { background-color: transparent; }
.gelato-navbar .navbar-toggle:focus { background-color: transparent; }
.gelato-navbar .navbar-toggle.active { background-color: #dddddd; }
@media (min-width: 768px) {
    .gelato-navbar .navbar-btn {
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .gelato-navbar .navbar-nav { margin: 0; }
    .gelato-navbar .navbar-toggle {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }
}


/*** GELATO PAGE ***/
.gelato-page {
    height: 100%;
    padding-top: 50px;
}


/*** GELATO SIDEBAR ***/
.gelato-sidebar {
    background-color: #ffffff;
    height: 100%;
    margin-top: 1px;
    max-width: 400px;
    min-width: 250px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    width: 60%;
    z-index: 9800;
}
.gelato-sidebar.collapsed { display: none; }
.gelato-sidebar.expanded { display: block; }
.gelato-sidebar.left {
    border-right: 2px #e7e7e7 solid;
    left: 0;
}
.gelato-sidebar.right {
    border-left: 2px #e7e7e7 solid;
    right: 0;
}
.gelato-sidebar hr {
    margin-bottom: 8px;
    margin-top: 8px;
}
.gelato-sidebar i {
    padding-right: 50px;
    width: 30px;
}
.gelato-sidebar li {
    color: #000000;
    font-size: 20px;
}