@import "bootstrap.css";
@import "bootstrap.switch.css";
@import "fontawesome.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.fill-parent {
  height: 100%;
  position: absolute;
  width: 100%;
}

.gelato-navbar { padding-top: 50px; }