<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.gelato.plugin.google.playservices"
        version="0.0.1">

    <name>Google Play Services</name>

    <author>Joshua McFarland</author>
    <description>Google Play Services Plugin</description>
    <keywords>cordova,jernung,gelato,google,play,services</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        </config-file>
        <source-file src="res/version.xml" target-dir="res/values" />
        <source-file src="libs/google-play-services.jar" target-dir="libs" />
    </platform>

</plugin>