/**
 * Gelato Framework
 * Version: 0.3.0
 * Date: Fri Apr 29 2016 21:23:19 GMT-0500 (CDT)
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%; }

gelato-application {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%; }

gelato-component {
  display: block;
  margin: 0;
  padding: 0;
  position: relative; }

gelato-dialog .modal {
  z-index: 9000; }

gelato-page {
  display: block;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
  padding: 0;
  position: absolute; }
