<gelato-page data-name="home">

    <gelato-navbar class="fixed-top">
        <div class="container">
            <div class="left">
                <div class="item item-header"><i class="fa fa-home"></i> Home</div>
                <div class="item item-text">About</div>
            </div>
            <div class="right">
                <div class="item item-button"><button class="btn btn-primary" type="submit">Log In</button></div>
                <div class="item item-icon"><i class="fa fa-power-off"></i></div>
            </div>
        </div>
    </gelato-navbar>

    <gelato-content>
        <div class="container">
            <div class="text-center">
                <h1>{{global.title}}</h1>
                <h3>{{global.description}}</h3>
            </div>
        </div>
    </gelato-content>

</gelato-page>