html, body {
  background: none;
  height: 100%;
  width: 100%;
}

body.loading {
  background: url("../core/images/ajax-loader.gif") #ffffff center no-repeat;
}

application {
  height: 100%;
  position: absolute;
  width: 100%;
}