<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.gelato.core"
        version="0.0.1">

    <name>Gelato Core</name>

    <author>Joshua McFarland</author>
    <description>Gelato Core Plugin</description>
    <keywords>cordova,jernung,gelato,core</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
    </platform>

</plugin>