<?xml version='1.0' encoding='utf-8'?>
<widget id="@@packageId"
        version="@@version"
        android-versionCode="@@packageVersionCode"
        ios-CFBundleVersion="@@packageBundleVersion"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>@@packageName</name>
    <description>
        @@description
    </description>
    <author email="josh@jernung.com" href="http://www.jernung.com">
        Joshua McFarland
    </author>
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="Fullscreen" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="Orientation" value="default" />
    <content src="index.html" />
    <access origin="*" />
</widget>