<ifModule mod_rewrite.c>
    RewriteEngine On
    # RewriteCond %{HTTP_HOST} ^my-project.com$ [NC]
    # RewriteRule (.*)$ http://www.my-project.space/$1 [R=301,L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /index.html [L,QSA]
</ifModule>