<div class="gelato-page default">

    <!-- NAVBAR: MAIN -->
    <div id="navbar-main" class="gelato-navbar">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-sidebar="default" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{application.title}}</a>
                </div>
            </div>
        </nav>
    </div>

    <!-- SIDEBAR: MAIN -->
    <div id="sidebar-main" class="gelato-sidebar left collapsed">
        <ul class="nav nav-pills nav-stacked">
            <li><a class="navigate" data-url="#" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a class="navigate" data-url="examples" href="#"><i class="fa fa-flask"></i> Examples</a></li>
        </ul>
    </div>

    <!-- CONTENT: MAIN -->
    <div id="content-main" class="gelato-content container text-center">
        <h1>{{application.title}}</h1>
        <p class="lead">{{application.description}}</p>
    </div>

</div>