html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet', href='styles/jasmine.css')
    body
        #application.application-container
        #reporter.reporter-container
        script(type='text/javascript', src='config/app.js')
        script(data-main='config/main', src='libraries/require-2.1.15.js')