gelato-page(data-name='default')
  gelato-navbar.fixed-top
    .container
      .left
        .item.item-icon(data-toggle='offcanvas', data-target='#sidebar-menu', data-canvas='body')
          i.fa.fa-bars
        .item.item-header Gelato Framework
      .right
        .item.item-icon(data-dialog='about')
          i.fa.fa-question
  gelato-content
    .container
      .text-center
        h3 What is the Gelato Framework?
        p.lead It's a delectable mix of mobile friendly libraries.