<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.gelato.plugin.millennialmedia"
        version="0.0.1">

    <name>Gelato Millennial Media</name>

    <author>Joshua McFarland</author>
    <description>Gelato Millennial Media Plugin</description>
    <keywords>cordova,jernung,millennial,media</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module src="www/millennialmedia.js" name="GelatoPluginMillennialMedia">
        <clobbers target="plugin.millennialmedia" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <dependency id="com.google.playservices@19.0.0" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GelatoPluginMillennialMedia" >
                <param name="android-package" value="com.jernung.gelato.plugin.millennialmedia.GelatoPluginMillennialMedia"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.hardware.microphone" android:required="false" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.millennialmedia.android.MMActivity"
                      android:theme="@android:style/Theme.Translucent.NoTitleBar"
                      android:configChanges="keyboardHidden|orientation|keyboard" ></activity>
        </config-file>

        <source-file src="libs/android/cordova-generic-ad.jar" target-dir="libs" />
        <source-file src="libs/android/MMSDK.jar" target-dir="libs" />
        <source-file src="libs/android/nmdp_speech_kit.jar" target-dir="libs" />
        <source-file src="libs/android/armeabi/libnmsp_speex.so" target-dir="libs/armeabi" />

        <source-file src="src/android/PluginAdapterDelegate.java" target-dir="src/com/rjfun/cordova/ext" />
        <source-file src="src/android/CordovaPluginExt.java" target-dir="src/com/rjfun/cordova/ext" />
        <source-file src="src/android/GelatoPluginMillennialMedia.java" target-dir="src/com/jernung/gelato/plugin/millennialmedia" />

    </platform>

</plugin>