@import "../../styles/_variables";

gelato-page[data-name='test'] {

  padding-top: 75px;

  #mocha {
    margin: 50px 0 0 0;
    position: relative;
    .progress {
      -webkit-box-shadow: none;
      background-color: transparent;
      border-radius: inherit;
      box-shadow: none;
      height: inherit;
      margin-bottom: inherit;
      overflow: hidden;
      width: inherit;
    }
    #mocha-stats {
      position: absolute;
      top: -50px;
    }
  }

}
