<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.gelato.plugin.chartboost"
        version="0.0.1">

    <name>Chartboost</name>

    <author>Jernung</author>
    <description>Chartboost Plugin</description>
    <license>MIT</license>
    <keywords>cordova,plugin,chartboost</keywords>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <js-module src="www/chartboost.js" name="ChartboostPlugin">
        <clobbers target="plugin.chartboost" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ChartboostPlugin" >
                <param name="android-package" value="com.jernung.gelato.plugin.chartboost.ChartboostPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="libs/chartboost.jar" target-dir="libs" />
        <source-file src="src/android/ChartboostPlugin.java" target-dir="src/com/jernung/gelato/plugin/chartboost" />
    </platform>

</plugin>