<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.jernung.gelato.plugin.google.billing"
        version="0.0.1">

    <name>Gelato Google Billing</name>

    <author>Joshua McFarland</author>
    <description>Gelato Google Billing Plugin</description>
    <keywords>cordova,jernung,gelato,google,billing</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <js-module src="www/billing.js" name="GelatoPluginGoogleBilling">
        <clobbers target="plugin.google.billing" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GelatoPluginGoogleBilling" >
                <param name="android-package" value="com.jernung.gelato.plugin.google.billing.GelatoPluginGoogleBilling"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.android.vending.BILLING" />
        </config-file>

        <source-file src="res/values/billing_key_param.xml" target-dir="res/values" />

        <source-file src="libs/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />

        <source-file src="src/android/util/Base64.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/Base64DecoderException.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/IabException.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/IabHelper.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/IabResult.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/Inventory.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/Purchase.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/Security.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />
        <source-file src="src/android/util/SkuDetails.java" target-dir="src/com/jernung/gelato/plugin/google/billing/util" />

        <source-file src="src/android/GelatoPluginGoogleBilling.java" target-dir="src/com/jernung/gelato/plugin/google/billing" />

    </platform>

</plugin>