/*** GLOBAL ***/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}


/*** LIBRARIES ***/
@import "libraries/bootstrap.jasny";
@import "libraries/bootstrap.switch";
@import "libraries/bootstrap.table";
@import "libraries/jquery.chosen";


/*** COMPONENTS ***/
@import "components/gelato-application";
@import "components/gelato-component";
@import "components/gelato-content";
@import "components/gelato-dialogs";
@import "components/gelato-navbar";
@import "components/gelato-page";
@import "components/gelato-sidebars";