/*** GLOBAL ***/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.content-block {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
}
.content-block.no-margin { margin-bottom: 0; }
.content-block.no-padding { padding: 0; }
.cursor { cursor: pointer; }
.fill-parent {
    height: 100%;
    position: absolute;
    width: 100%;
}
.no-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


/*** COMPONENTS ***/
@import "components/gelato-application";
@import "components/gelato-component";
@import "components/gelato-content";
@import "components/gelato-dialog";
@import "components/gelato-navbar";
@import "components/gelato-page";
@import "components/gelato-sidebar";