gelato-sidebar(data-name='menu')
  #sidebar-menu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role='navigation')
    a.navmenu-brand(href='#') Default
    ul.nav.navmenu-nav
      li.active
        a(href='#') Link 1
      li
        a(href='#') Link 2
      li
        a(href='#') Link 3